.container {

}

.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menu_bar div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.title {
    font-family: 'Antic Slab', serif ;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .01em;
}