html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  background-color: white;
  margin: 0;
  /* height: 100%; */
  height: inherit;
  /* display: flex;
  flex-direction: column; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0px 20px 0 20px;
  border-bottom: 0.25px solid grey;
}

.menu_bar {
  width: 92px;
}

.menu_bar div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.title {
  font-family: "Antic Slab", serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

/* .header-buttons {
  /* display: inline-block; */

.header-buttons .button {
  width: 28px;
}

.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 65px);
  flex-grow: 1;
}

.game-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 420px;
}

.game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 62px);
  grid-gap: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-grow: 1;
}

/* row3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
} */

/* .row3 ::before {
  content: "";
  background-color: white;
} */

.tile {
  display: flex;
  border: #d3d6da solid 2px;
  /* height: 58px;
  width: 58px; */
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  max-width: 58px;
  max-height: 58px;
  width: 100%;
}

.tile.row3.one {
  animation: letter-animation 1s ease forwards;
  animation-delay: 3s;
}

.tile.row3.two {
  animation: letter-animation 1s ease forwards;
  animation-delay: 4s;
}

.tile.row3.three {
  animation: letter-animation 1s ease forwards;
  animation-delay: 5s;
}

.tile.row3.four {
  animation: letter-animation 1s ease forwards;
  animation-delay: 6s;
}

.tile.row3.five {
  animation: letter-animation 1s ease forwards;
  animation-delay: 7s;
}

@keyframes letter-animation {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background-color: #6aaa64;
    color: white;
  }
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.keyboard-button {
  display: flex;
  background-color: #d3d6da;
  color: black;
  width: 48px;
  height: 58px;
  justify-content: center;
  align-items: center;
  margin: 0 6px 8px 0;
  font-family: "Libre Franklin", sans-serif;
  border-radius: 4px;
  font-size: 1.25em;
  font-weight: bold;
}

.keyboard-button.enter {
  flex: 1.25;
  font-size: 12px;
}

.keyboard-button.backspace {
  flex: 1.25;
}

.backspace-button {
  height: 24px;
  width: 24px;
}

.keyboard-button.colour {
  animation: colour-change 500ms ease forwards;
  animation-delay: 3s;
}

@keyframes colour-change {
  to {
    background-color: #6aaa64;
    color: white;
  }
}

.yellow {
  background-color: #c9b458;
  color: white;
}

.green {
  background-color: #6aaa64;
  color: white;
}

.grey {
  background-color: #787c7e;
  color: white;
}
