html,
body {
  height: 100vh;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.container {
  position: relative;
  background-color: white;
  margin: 0;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0px 20px 0 20px;
  border-bottom: 0.25px solid grey;
}

.menu_bar {
  width: 92px;
}

.menu_bar div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.title {
  font-family: "Antic Slab", serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.header-buttons .button {
  width: 28px;
}

.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 65px);
  max-width: 500px;
  width: 100%;

  margin: 0 auto;
}

.game-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.game {
  display: grid;
  grid-template-rows: repeat(6, 62px);
  grid-gap: 5px;
  padding: 10px;
  width: 350px;
  height: 420px;
  box-sizing: border-box;
}

.game-row-1,
.game-row-2,
.game-row-3,
.game-row-4,
.game-row-5,
.game-row-6 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  display: inline-flex;
  border: #d3d6da solid 2px;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: middle;
  width: 100%;
  line-height: 1;
  box-sizing: border-box;
}

.tile::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.tile.row3.one {
  animation: letter-animation 1s ease forwards;
  animation-delay: 3s;
}

.tile.row3.two {
  animation: letter-animation 1s ease forwards;
  animation-delay: 4s;
}

.tile.row3.three {
  animation: letter-animation 1s ease forwards;
  animation-delay: 5s;
}

.tile.row3.four {
  animation: letter-animation 1s ease forwards;
  animation-delay: 6s;
}

.tile.row3.five {
  animation: letter-animation 1s ease forwards;
  animation-delay: 7s;
}

@keyframes letter-animation {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background-color: #6aaa64;
    color: white;
  }
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 8px;
}

.keyboard-button {
  display: flex;
  background-color: #d3d6da;
  color: black;
  width: 48px;
  height: 58px;
  justify-content: center;
  align-items: center;
  margin: 0 6px 8px 0;
  font-family: "Libre Franklin", sans-serif;
  border-radius: 4px;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 6px 0 0;
  flex: 1;
}

.keyboard-button.enter {
  flex: 1.25;
  font-size: 12px;
}

.keyboard-button.backspace {
  flex: 1.25;
}

.backspace-button {
  height: 24px;
  width: 24px;
}

.keyboard-button.colour {
  animation: colour-change 500ms ease forwards;
  animation-delay: 3s;
}

@keyframes colour-change {
  to {
    background-color: #6aaa64;
    color: white;
  }
}

.yellow {
  background-color: #c9b458;
  color: white;
}

.green {
  background-color: #6aaa64;
  color: white;
}

.grey {
  background-color: #787c7e;
  color: white;
}
